h1{
    color:rgb(181, 162, 40);
    text-align: center;
    font-size: 80px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h2{
    color:rgb(162, 159, 136);
    text-align: center;
    font-size: 40px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
p{
    color:rgb(81, 147, 188);
    font-size: larger;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align:justify;
    margin-left: 7em;
    margin-right: 7em;
}
.destacar{
    float: left;
    color:rgb(162, 159, 136);
    font-size: 25px;
    border-right: 3px solid rgb(162, 159, 136);
    margin-left: 7em;
}
.container{
    text-align: center;
    background: rgb(162, 159, 136);
    padding: 3rem;
}
header{
    color: white;
    float: left;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}
.encabizq{
    color: white;
    float: right;
    font-family: 'Courier New', Courier, monospace;
}
footer{
    color: rgb(81, 147, 188);
    text-align: right;
    font-size: 23px;
}
.pie{
    color: rgb(181, 162, 40);
    text-decoration: overline;
    text-align: center;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}
.imagen{
    width: 1200px;
    height: auto;
}
.imgcentro{
    text-align: center;
}
h4{
    color: rgb(81, 147, 188);
    text-align: center;
    font-size: larger;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.remarcar{
    text-shadow: 5cm;
}